extends layout

block content
  
  for restraunt in restraunts
    h1 가게이름: #{restraunt.name}
    h2= restraunt.rating
    for food in restraunt.menu
      h3= food.name
      h3= food.price
      h3= food.description
