extends layout

block content
  .row
    each restaurant in restaurants
      .col-12.col-md-6
        .card.bg-light
          .card-body
            table
              colgroup
                col(width='*')
                col(width='100%')
              tr
                td
                  img(src=`${restaurant.image}` width="90px")
                td 
                  h6 
                    a(href=`/${restaurant._id}`)= restaurant.name
                    i.fas.fa-star
                    span= restaurant.rating
                    span.badge.badge-pill.badge-dark.float-right= restaurant.distance
                  p.address= restaurant.address
    
      
          
      

