extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/restaurant-info.css')   
 
block content
  .row.banner.mt-3
    .col-12
      h1= restaurant.name
  .row
    .col-12.col-md-10
      .row
        .col-12.col-md-6
          p 
            - let rating = Math.floor(restaurant.rating)
            - for (let i = 1; i <= rating; i++)
              i.fas.fa-star
            - for (let i = rating; i < 5; i++)
              i.far.fa-star
            | &nbsp;#{restaurant.rating.toFixed(1)}
          p= restaurant.address
          .card
            .card-header
              h5.card-title 영업시간
            .card-body
              p.card-text= restaurant.openingTime
          .card.mt-3
            .card-header
              h5.card-title 전화번호
            .card-body              
              p.card-text= restaurant.phone
        .col-12.col-md-6
          .card
            .card-body
              - let key = process.env.GOOGLE_MAP_KEY
              img.img-fluid(src=`https://maps.googleapis.com/maps/api/staticmap?center=${restaurant.coords.lat},${restaurant.coords.lng}&zoom=17&size=400x350&sensor=false&markers=${restaurant.coords.lat},${restaurant.coords.lng}&scale=2&key=${key}`)
      
      .row
        .col-12
          .card.mt-3
            .card-header.btn.bg-dark.text-white(data-toggle="collapse" data-target="#collapseMenu")
              i.fa.fa-chevron-down.float-right
              | 메뉴              
            #collapseMenu.collapse.show  
              .card-body
                .row
                  each menu in restaurant.menu
                    .col-12.col-md-6
                      .container-fluid
                        .row.p-1.m-1
                          .col-9
                            h4.name= menu.name
                            h5.price #{menu.price} 원
                            h6.description= menu.description
                          .col-3
                            - if (menu.image)
                              img(src=`${menu.image}` width="100px")    
                  -if (restaurant.menu.length === 0)
                    .col-12.p-3 &nbsp; 메뉴가 아직 등록되지 않았습니다.
      .row
        .col-12
          .card.mt-3
            .card-header.bg-dark.text-white.btn.btn-link(data-toggle="collapse" data-target="#collapseReview")        
              i.fa.fa-chevron-down.float-right
              | 리뷰
            #collapseReview.card-body.review.collapse.show
              ul.list-group
                -var reviewCheck = 0;
                each review in restaurant.reviews
                  -reviewCheck+=1;
                  li 
                    .row
                      .col-12
                        span.reviewAuthor #{review.author} 님 
                        small.reviewTimestamp= review.createdOn 
                      .col-12 
                        span.reviewRating
                          - let rating = review.rating
                          - for (let i = 1; i <= rating; i++)
                            i.fas.fa-star
                          - for (let i = rating; i < 5; i++)
                            i.far.fa-star 
                      .col-12
                        p !{(review.reviewText).replace(/\n/g, '<br />')}  
                    -if(Object.keys(restaurant.reviews).length != reviewCheck) 
                      hr 
      .row
        .col-12
          .card.mt-3
            .card-header.btn.btn-link.bg-dark.text-white(data-toggle="collapse" data-target="#collapseNewReview")
              i.fa.fa-chevron-down.float-right
              | 리뷰 작성하기
            #collapseNewReview.card-body.collapse.show
              .row
                .col-12 
                  form#addReview(action="" method="post")
                    - if (error == "val")
                      .alert.alert-danger(role="alert") 모든 입력이 채워져야 합니다. 입력을 확인해주세요.
                    .from-group.row.m-1
                      label.col-10.col-md-2.col-form-label(for="name") 작성자
                      .col-12.col-md-5
                        input#name.form-control(type="text" name="author") 
                    .from-group.row.m-1
                      label.col-10.col-md-2.col-form-label(for="rating") 평점
                      .col-12.col-md-2
                        select#rating.form-control.input-sm(name="rating")                          
                          option(value='5') 5
                          option(value='4') 4
                          option(value='3') 3
                          option(value='2') 2
                          option(value='1') 1
                    .form-group.row.m-1
                      label.col-10.col-md-2.col-form-label(for="reviewText") 리뷰내용
                      .col-12.col-md-10
                        textarea#review.form-control(name="reviewText" rows="5")
                    button.btn.btn-outline-dark.float-right(type="submit") 작성하기
    .col-12.col-md-2

  block scripts
    script(src='/javascripts/validation.js')